django==1.10
lys==0.2
https://github.com/lukasschwab/arxiv.py/archive/master.zip
django-celery==3.2.1
redis==2.10.5
nltk==3.2.4
channels==1.1.6
asgi_redis==1.4.2
beautifulsoup4==4.6.0
https://github.com/chardet/chardet/archive/master.zip
raven==6.1.0
requests==2.18.2
django-admin-gitlog==0.2
xmltodict==0.11.0
langdetect==1.0.7
social-auth-app-django==1.2.0
social-auth-core==1.4.0
TwitterAPI==2.4.6
django-cors-headers==2.1.0
https://github.com/skorokithakis/django-loginas/archive/master.zip
psycopg2==2.7.3
mistune==0.7.4
natural==0.2.0
https://github.com/mdamien/django-simple-admin-upload/archive/master.zip
https://github.com/karanlyons/django-save-the-change/archive/master.zip
django-dynamic-preferences==1.3
pystemmer==1.3.0
