django==1.10
lys
arxiv
django-celery
redis
nltk
channels
asgi_redis
beautifulsoup4
https://github.com/chardet/chardet/archive/master.zip
raven
requests
django-admin-gitlog
xmltodict
langdetect
social-auth-app-django
social-auth-core
TwitterAPI
django-cors-headers
django-loginas
